@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Nunito;
    src: url('fonts/Nunito.ttf');
}

@font-face {
    font-family: DreiFraktur;
    src: url('fonts/DreiFraktur.ttf');
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #18181b;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #8b5cf6;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6d28d9;
}

.router-link-active {
    @apply text-violet-500;
}

.router-link-exact-active {
    @apply text-violet-500;
}